# Ignore system and home directory files
/.Xauthority
/.bash_history
/.bashrc
/.cache/
/.conda/
/.dotnet/
/.gitconfig
/.lmod.d/
/.local/
/.profile
/.ssh/
/.vim/
/.vscode-server/
/wget-hsts
/miniconda.sh
/user-info
/git-2.42.0/
/git.tar.gz
/conda/
/miniconda.sh
/hyperleda_lc/*
/catalog2tess_px/HyperLEDA/*
/catalog2tess_px/coords/*
/catalog2tess_px/X-ray/*
/catalog2tess_px/SDSS/*
/catalog2tess_px/TNS/*
/catalog2tess_px/VSX/*
/catalog2tess_px/__init__.py
/catalog2tess_px/__pycache__
/catalog2tess_px/camera_pointings/*
/catalog2tess_px/catalogs/*
/catalog2tess_px/compile.fpg.sh
/catalog2tess_px/match_gaia_VSX
/catalog2tess_px/match_hyperleda_milliquas
/catalog2tess_px/Fermi/*
/catalog2tess_px/Gaia/*
/catalog2tess_px/KELT/*
/catalog2tess_px/Milliquas/*
/catalog2tess_px/List_Sectors.py
/catalog2tess_px/README.md
/catalog2tess_px/scripts/*
sector*
# Ignore parent directory content
../*

